[submodule "AppOptR"]
	path = AppOptR
	url = https://gitee.com/sutoliu/AppOptR.git
	branch = master
[submodule "LittleYouran_CTS_3"]
	path = LittleYouran_CTS_3
	url = https://github.com/LittleYouran/LittleYouran_CTS_3.git
	branch = main
[submodule "android_kernel_oneplus_sm8550"]
	path = android_kernel_oneplus_sm8550
	url = https://github.com/OnePlusOSS/android_kernel_oneplus_sm8550.git
	branch = oneplus/sm8550_b_16.0.0_oneplus_11
[submodule "torvalds/linux"]
	path = torvalds/linux
	url = https://github.com/torvalds/linux.git
	branch = master
[submodule "AYNTechnologies/linux"]
	path = AYNTechnologies/linux
	url = https://github.com/AYNTechnologies/linux.git
	branch = ayn/v7.0
[submodule "android_kernel_oneplus_sm8650"]
	path = android_kernel_oneplus_sm8650
	url = https://github.com/OnePlusOSS/android_kernel_oneplus_sm8650.git
	branch = oneplus/sm8650_b_16.0.0_oneplus_12
[submodule "android-gs-caimito-6.1-android15-qpr1"]
	path = android-gs-caimito-6.1-android15-qpr1
	url = https://android.googlesource.com/device/google/caimito-kernels/6.1
	branch = 